<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.domaado.mobileapp">

    <!-- for marshmellow -->
    <!--<uses-permission android:name="android.permission.BLUETOOTH" />-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
<!--    <uses-permission android:name="android.permission.GET_ACCOUNTS" />-->
    <!-- for marshmellow end -->

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!--<uses-feature android:name="android.hardware.camera2.full" />-->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MTP"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_ASSISTED_GPS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />

    <uses-permission android:name="android.permission.CLEAR_APP_CACHE"
        tools:ignore="ProtectedPermissions" />

    <!--<uses-feature android:name="android.hardware.camera" android:required="true" />-->

    <!-- for 4.4 -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <queries>
        <package android:name="com.kakao.talk" />

<!--        <package android:name="instagram" />-->
<!--        <package android:name="youtube" />-->
<!--        <package android:name="kftc-bankpay" />-->
<!--        <package android:name="ispmobile" />-->
<!--        <package android:name="shinhan-sr-ansimclick" />-->
<!--        <package android:name="smshinhanansimclick" />-->
<!--        <package android:name="hdcardappcardansimclick" />-->
<!--        <package android:name="smhyundaiansimclick" />-->
<!--        <package android:name="mpocket.online.ansimclick" />-->
<!--        <package android:name="scardcertiapp" />-->
<!--        <package android:name="cloudpay" />-->
<!--        <package android:name="nhappcardansimclick" />-->
<!--        <package android:name="nonghyupcardansimclick" />-->
<!--        <package android:name="kb-acp" />-->
<!--        <package android:name="lotteappcard" />-->
<!--        <package android:name="lottesmartpay" />-->
<!--        <package android:name="citispay" />-->
<!--        <package android:name="shinsegaeeasypayment" />-->
<!--        <package android:name="kakaotalk" />-->
<!--        <package android:name="tswansimclick" />-->
<!--        <package android:name="nhallonepayansimclick" />-->
<!--        <package android:name="citimobileapp" />-->
<!--        <package android:name="payco" />-->
<!--        <package android:name="hanaskcardmobileportal" />-->
<!--        <package android:name="wooripay" />-->
<!--        <package android:name="lpayapp" />-->
<!--        <package android:name="hanawalletmembers" />-->
<!--        <package android:name="tauthlink" />-->
<!--        <package android:name="ktauthexternalcall" />-->
<!--        <package android:name="upluscorporation" />-->
<!--        <package android:name="liivbank" />-->
<!--        <package android:name="kb-bankpay" />-->
<!--        <package android:name="naversearchthirdlogin" />-->
<!--        <package android:name="lmslpay" />-->
<!--        <package android:name="com.wooricard.wcard" />-->
<!--        <package android:name="newliiv" />-->
<!--        <package android:name="NewSmartPib" />-->
<!--        <package android:name="kbbank" />-->
<!--        <package android:name="itms-apps" />-->
<!--        <package android:name="ansimclickscard" />-->
<!--        <package android:name="ansimclickipcollect" />-->
<!--        <package android:name="vguardstart" />-->
<!--        <package android:name="samsungpay" />-->
<!--        <package android:name="nhappvardansimclick" />-->
<!--        <package android:name="citicardappkr" />-->
<!--        <package android:name="kakaopay" />-->
<!--        <package android:name="paypin" />-->
<!--        <package android:name="paycoapplogin" />-->
<!--        <package android:name="bankwallet" />-->
<!--        <package android:name="uppay" />-->
<!--        <package android:name="kpay" />-->
<!--        <package android:name="uber" />-->
<!--        <package android:name="tomtomhome" />-->
<!--        <package android:name="com.sygic.aura" />-->
<!--        <package android:name="here-route" />-->
<!--        <package android:name="moovit" />-->
<!--        <package android:name="lyft" />-->
<!--        <package android:name="cabify" />-->
<!--        <package android:name="lguthepay" />-->
<!--        <package android:name="lguthepay-xpay" />-->
<!--        <package android:name="smartxpay-transfer" />-->
<!--        <package android:name="SmartBank2WIB" />-->
<!--        <package android:name="PortalCenterWB" />-->
<!--        <package android:name="woorimembers" />-->
<!--        <package android:name="wibeetalk" />-->
<!--        <package android:name="nhappcash-acp" />-->
<!--        <package android:name="smilepayapp" />-->
<!--        <package android:name="nhappcardansimclick" />-->
<!--        <package android:name="smartxpay-transfer" />-->
<!--        <package android:name="supertoss" />-->
<!--        <package android:name="chai" />-->
<!--        <package android:name="baidumap" />-->
<!--        <package android:name="ukbanksmartbanknonloginpay" />-->
<!--        <package android:name="smilepay" />-->
<!--        <package android:name="kdb-bankpay" />-->
<!--        <package android:name="ibk-bankpay" />-->
<!--        <package android:name="keb-bankpay" />-->
<!--        <package android:name="sh-bankpay" />-->
<!--        <package android:name="nhb-bankpay" />-->
<!--        <package android:name="nh-bankpay" />-->
<!--        <package android:name="wr-bankpay" />-->
<!--        <package android:name="sc-bankpay" />-->
<!--        <package android:name="s-bankpay" />-->
<!--        <package android:name="ct-bankpay" />-->
<!--        <package android:name="dg-bankpay" />-->
<!--        <package android:name="bnk-bankpay" />-->
<!--        <package android:name="kj-bankpay" />-->
<!--        <package android:name="jj-bankpay" />-->
<!--        <package android:name="kn-bankpay" />-->
<!--        <package android:name="kp-bankpay" />-->
<!--        <package android:name="cu-bankpay" />-->
<!--        <package android:name="mg-bankpay" />-->
<!--        <package android:name="kbn-bankpay" />-->
<!--        <package android:name="kkb-bankpay" />-->
<!--        <package android:name="mapsme" />-->
<!--        <package android:name="tmap" />-->
<!--        <package android:name="kakaomap" />-->
<!--        <package android:name="kakaonavi" />-->
<!--        <package android:name="daummaps" />-->
<!--        <package android:name="maps" />-->
<!--        <package android:name="citymapper" />-->
<!--        <package android:name="comgooglemaps" />-->
<!--        <package android:name="navigon" />-->
<!--        <package android:name="transit" />-->
<!--        <package android:name="waze" />-->
<!--        <package android:name="yandexnavi" />-->
<!--        <package android:name="uplusauth" />-->
<!--        <package android:name="storylink" />-->
<!--        <package android:name="kakaokompassauth" />-->
<!--        <package android:name="storykompassauth" />-->
<!--        <package android:name="kakaolink" />-->
<!--        <package android:name="kakaotalk-5.9.7" />-->
<!--        <package android:name="kakaostory-2.9.0" />-->
<!--        <package android:name="daumapps" />-->
<!--        <package android:name="googlechromes" />-->
<!--        <package android:name="fb" />-->
<!--        <package android:name="fbapi" />-->
<!--        <package android:name="fb-messenger-api" />-->
<!--        <package android:name="fbauth2" />-->
<!--        <package android:name="fbshareextension" />-->
<!--        <package android:name="bandapp" />-->
<!--        <package android:name="naversearchthirdlogin" />-->
<!--        <package android:name="nidlogin" />-->

        <!-- 제3자 보험금청구에서 갤러리 호출 이슈! -->
        <!-- Browser -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>
        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <!-- Gallery -->
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
            <data android:mimeType="image/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.PICK" />
            <data android:mimeType="image/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.CHOOSER" />
        </intent>
        <intent>
            <action android:name="*" />
        </intent>
    </queries>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:configChanges="locale"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:usesCleartextTraffic="true"
        android:screenOrientation="portrait"
        android:hardwareAccelerated="true"
        android:requestLegacyExternalStorage="true" >

<!--        <activity-->
<!--            android:name=".SplashScreenTest"-->
<!--            android:windowSoftInputMode="adjustResize"-->
<!--            android:configChanges="locale"-->
<!--            android:label="@string/app_name_test"-->
<!--            android:theme="@style/AppThemeNoActionBar"-->
<!--            android:exported="true">-->

<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <action android:name="android.intent.action.VIEW" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--                <category android:name="android.intent.category.DEFAULT"/>-->
<!--            </intent-filter>-->

<!--        </activity>-->

        <activity
            android:name=".SplashScreen"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="locale"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoActionBar"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>

        <activity
            android:name=".SplashScreenScheme"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="locale"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoActionBar"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="app.start"
                    android:scheme="domaado" />

            </intent-filter>

        </activity>

        <activity
            android:name=".GuideView"
            android:configChanges="orientation"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Translucent" >
        </activity>

        <activity
            android:name=".CheckInternetConnection"
            android:configChanges="orientation"
            android:hardwareAccelerated="true"
            android:clearTaskOnLaunch="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar">
        </activity>

        <activity
            android:name=".submenus.WebContentActivity"
            android:configChanges="orientation|keyboardHidden"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"
            android:exported="true">

            <intent-filter>
                <data android:host="kakaolink"
                    android:scheme="kakao06ccae9212b4d158ab68abb213baf150" />
            </intent-filter>

        </activity>

        <activity
            android:name=".camera.CameraActivity"
            android:configChanges="orientation"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" >
        </activity>

        <activity
            android:name=".camera.CameraViewOlderActivity"
            android:configChanges="orientation"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar" >
        </activity>

        <activity
            android:name=".camera.Camera2BasicFragment"
            android:configChanges="orientation"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Translucent" >
        </activity>

        <activity
            android:name=".camera.CameraKitActivity"
            android:configChanges="orientation|screenLayout"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Translucent" >
        </activity>

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data android:host="oauth"
                    android:scheme="kakao06ccae9212b4d158ab68abb213baf150" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.acra.CrashReportDialog"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.AppCompat.Translucent" />

        <service
            android:name=".service.ReportLocationService"
            android:process=":DLRService"
            android:exported="false">
            <intent-filter>
                <action android:name=".REPORT_USER_LOCATION"/>
            </intent-filter>
        </service>

        <!-- FCM -->
        <service
            android:name=".firebase.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".firebase.MyFirebaseInstanceIDService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:enabled="true"
            android:name=".service.TTSService"
            android:process=":TTSService"
            android:stopWithTask="true" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.domaado.mobileapp.provider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>